/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 14, 2017, 10:54:55 AM
    Author     : stral
*/

/*Easter egg*/
#egg {
    display: none;
    color: #FF0033;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 15%;
    padding-bottom: 10px;
}
#caption {
    display: none;
}
#egg>img {
    display: none;
    width: 30%;
    height: auto;
    margin: 5px;
    padding: 5px;
}