/*Hot Pink: #E7169F
 *Light Pink: #f38acf
 *Dark Pink: #b8117f
 */

.navbar-inverse {
    background-color: #FFF;
    border-bottom: 3px solid #000000;
}
.navbar-inverse .navbar-brand {
    color: #000000;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #f38acf;
}
.top-nav>li>a {
    color: #E7169F;
}
.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #f38acf;
}
/*Sidebar tab titles*/
.side-nav>li>a {
    color: #fad0eb !important;
}
.side-nav li a:hover,
.side-nav li a:focus {
    background-color: #b8117f !important;
}
/* Expanded sidenav links */
.side-nav>li>ul>li>a {
    background-color: #ad0673;
}
.side-nav>li>ul>li>a:hover {
    color: #f38acf;
}
.side-nav,#footer {
    border-right: 2px solid #000000;
    background-color: #E7169F;
}
a {
    color: #f38acf;
}
a:hover,a:focus {
    color: #f38acf;
}