/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 14, 2017, 11:56:25 AM
    Author     : stral
*/

/*Pop up message/status bar above navbar*/
/*Need to write some js to trigger this to appear on form submit
otherwise keep it hidden*/
#message {
    background-color: #F2DEDE;
    border: 2px solid #328CC1;
    border-radius: 2px;
    color: #328CC1;
    padding: 10px;
}
#message a {
    color: #FFF;
    text-decoration: none;
}
#message a:hover {
    color: #FFF;
    text-decoration: none;
}

.alert-debug {
    background-color: #e3d9f7;
    color: #6c37d5;
    border: 1px solid #a788e6;
}
/*
#submit-buttons {
    width: 100%;
}

#submit-buttons .btn{
    width: 20%;
}*/