/*!
 * Start Bootstrap - SB Admin (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

/*
 * Swift-Approved Colors
 * Gold: Pantone 110C, #DAAA00, CMYK: 2, 22, 100, 8
 * Blue: Pantone 654C, #003A70, CMYK: 100, 71, 10, 47
 * Light Gray: Pantone Cool Gray 3 C, #C8C9C7, CMYK: 8 5 7 16 
 * Slate: Pantone Cool Gray 9 C, #75787B, CMYK: 30 22 17 57 
 * White: Pantone 000C, #FFFFF, CMYK: 0, 0, 0, 0 
 */

/* Global Styles */

/* Loader */
#loader {
    position: fixed;
    z-index: 1;
    top:25%;
    left: 0;
    right: 0;
    margin: auto;
}
#spinner {
    color: #DAAA00;
}
.overlay-loader {
    background: #2e282d;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    z-index: 11111;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/************************************************************************************************************/
body {
    margin-top: 4%;
    margin-bottom: 3%;
    font-family: Calibri;
    font-size: 11pt;
}
@media(max-width:1920px) {
    body {
        margin-top: 5%;
    }
    .side-nav {
        top: 9% !important;
    }
}
@media(max-width:1880px) {
    body {
        margin-top: 5%;
    }
    .side-nav {
        top: 13.5% !important;
    }
}
@media(max-width:1853px) {
    body {
        margin-top: 8%;
    }
    .navbar {
        min-height:8% !important
    }
    .side-nav {
        top: 0px !important;
    }
}
@media(max-width:1680px) {
    body {
        margin-top: 8%;
    }
    /*.navbar {
        height:120px !important
    }*/
    .side-nav {
        /*top: 120px !important;*/
        top: 0px !important;
    }
}
@media(max-width:1440px) {
    body {
        margin-top: 9%;
    }
    .side-nav {
        /*top: 20% !important;*/
        top: 0px !important;
    }
}
@media(max-width:1280px) {
    body {
        margin-top: 9%;
    }
    .side-nav {
        /*top: 117px !important;*/
        top: 0px !important;
    }
}
@media(max-width:1152px) {
    body {
        margin-top: 10%;
    }
    .side-nav {
        top: 0px !important;
    }
}
@media(max-width:1024px) {
    body {
        margin-top: 11%;
    }
    .side-nav {
        top: 0px !important;
    }
}
@media(max-width:800px) {
    body {
        margin-top: 14%;
    }
}
@media(max-width:720px) {
    body {
        margin-top: 17%;
    }
}
@media(max-width:480px) {
    body {
        margin-top: 25%;
        text-align: center;
    }
}
@media(max-width:375px) {
    body {
        margin-top: 70%;
        text-align: center;
        background-color: #FFF !important;
    }
}
@media(max-width:320px) {
    body {
        margin-top: 82%;
        text-align: center;
        background-color: #FFF !important;
    }
}

#wrapper {
    padding-left: 0;
}
#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
    overflow: hidden;
}
/*Global color for all a href links*/
a {
    color: #003A70;
}

h1,h2,h3 {
    font-family: Verdana;
}

h1 {
    font-size: 27px;
}

.huge {
    font-size: 20pt;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }

}

.bordered-box {
    border: 1px solid #666666;
    padding: 5px;
    margin: 5px;
}
/******************************************************************************/
/******************************* Navbar styles ********************************/
/******************************************************************************/
/*Top navbar colors*/
.navbar-inverse {
    background-color: #FFF;
    border-bottom: 2px solid #DAAA00;
}

/* LOOP Home Icon/Link */
.navbar-inverse .navbar-brand {
    color: #75787B;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #DAAA00;
    text-decoration: none;
}
.navbar-brand {
    font-family: Verdana;
    font-size: 24px;
    line-height: 75px;
    margin-left: 225px; /*Shift logo and website title over to the right*/
}
/*Side Navbar Links*/
.navbar-nav>li>a {
    padding-top:15px !important; 
    padding-bottom:15px !important;
}
.navbar {
    min-height:9%;
    /*max-height: 110px !important;*/
}
/* Swift Logo */
#logo {
    display: inline;
    padding: 0;
}
.navbar-brand>img {
    float: left;
    /*width: 8%;*/
    height: auto;
    margin-top: 3%;
}
/* Top Navigation */
.top-nav {
    padding: 0 15px;
}
.top-nav>li {
    display: inline-block;
    float: left;
}
/*FAQ/E-Mail Support/User Settings links*/
.top-nav>li>a {
    padding-top: 0px;
    /*padding-bottom: 5px;*/
    line-height: 70px;
    color: #003A70;
}
.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #DAAA00;
    background-color: #FFF;
}
.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: -15px;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}
ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}
li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}
li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}
li.message-footer {
    margin: 5px 0;
}
ul.alert-dropdown {
    width: 200px;
}

/* Side Bar */
@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 9%;
        left: 225px;
        width: 175px;/*200px;*/
        margin-left: -225px;
        border-right: 2px solid #003A70;
        border-radius: 0;
        overflow-y: auto;
        background-color: #003A70;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }
    /*Sidebar tab titles*/
    .side-nav>li>a {
        width: 200px;
        color: #C8C9C7 !important;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        /*outline: 1px solid #DAAA00;*/
        background-color: #00203d !important;
    }
}

.side-nav>li>ul {
    padding: 0;
}
/* Expanded sidenav links */
.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
    color: #FFF;
    background-color: #00203D;
    /*border-bottom: 1px solid #DAAA00;*/
}

.side-nav>li>ul>li>a:hover {
    color: #DAAA00;
}

/*Collapsed Sidebar Style*/
@media(max-width:767px) {
    .navbar-brand>img {
        width: 100px;
        height: auto;
    }
    .navbar {
        background-color: #222;
    }
    .navbar-inverse {
        border-bottom: none;
    }
    .navbar-inverse .navbar-brand {
        color: #FFF;
    }
    .top-nav>li>a {
        color: #FFF;
    }
    .top-nav>li>a:hover,
    .top-nav>li>a:focus,
    .top-nav>.open>a,
    .top-nav>.open>a:hover,
    .top-nav>.open>a:focus {
        color: #DAAA00;
        background-color: #000;
    }
    .side-nav {
        background-color: #222;
    }
    /*Sidebar tab titles*/
    .side-nav>li>a {
        color: #C8C9C7 !important;
    }
    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}

/* City Team Colors */

.btn-nwa, .btn-nwa:hover {
    color: #fff;
    background-color: #0d254c;
    border-color: #091935;
    text-decoration: none;
}
.btn-slc, .btn-slc:hover {
    color: #fff;
    background-color: #c21807;
    border-color: #871004;
    text-decoration: none;
}

/* Donut Chart Container */

.flot-chart {
    display: block;
    max-height: 500px;/*Change this value to adjust donut chart panel height*/
}

.flot-chart-content {
    width: 100%;
    height: 100%;
    max-height: 490px;/*Change this value to adjust donut chart content height*/
}

/* Office Leaderboard */

#leaderboard {
    display: block;
    max-height: 60%;
}

/* Custom Colored Panels */

.huge {
    font-size: 28pt;
}

.not-so-huge {
    font-size: 25px;
}

.panel-title {
    font-size: 18px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red > a {
    color: #d9534f;
}

.panel-red > a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}

.panel-purple {
    border-color: #663096;
}

.panel-purple > .panel-heading {
    border-color: #663096;
    color: #fff;
    background-color: #663096;
}

.panel-purple > a {
    color: #663096;
}

.panel-purple > a:hover {
    color: #3D1C5A;
}

.panel-purple select {
    color: #333333;
}

.panel-pink {
    border-color: #FD45C7;
}

.panel-pink > .panel-heading {
    border-color: #FD45C7;
    color: #fff;
    background-color: #FD45C7;
}

.panel-pink > a {
    color: #FD45C7;
}

.panel-pink > a:hover {
    color: #aa0179;
}

.panel-pink select {
    color: #333333;
}

.panel-charcoal {
    border-color: #36454f;
}

.panel-charcoal > .panel-heading {
    border-color: #36454f;
    color: #fff;
    background-color: #36454f;
}

.panel-charcoal > a {
    color: #36454f;
}

.panel-charcoal > a:hover {
    color: #000000;
}

.panel-charcoal select {
    color: #333333;
}

.panel-clear {
    border-color: #000000;
}

.panel-clear > .panel-heading {
    border-color: #000000;
    color: #000000;
    background-color: #FFFFFF;
}

.panel-clear > a {
    color: #000000;
}

.panel-clear > a:hover {
    color: #000000;
}

.panel-clear select {
    color: #333333;
}

/* Legend Div */
.legend {
    color: #878787;
    border: 1px solid #878787;
    margin-right: 100px;
    margin-top: 20px;
    padding: 5px;
}

.legend .legend-key {
    padding: 2px;
}

/* Donut Chart Legend */
.legend-key {
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
}

.green-key {
    background: #5CB85C;
}

.orange-key {
    background: #ec971f;
}

.yellow-key {
    background: #f3bf25;
}

.yellow-dark-key {
    background: #ec971f;
}

.yellow-medium-key {
    background: #F0AD4E;
}

.yellow-light-key {
    background: #f6ce95;
}

/* Whitespace */
.spacer {
    padding: 10px;
    margin: 0 20px;
}

/* Page Divider */
.page-divider {
    padding: 2px;
    background-color: #9D9D9D;
}

/* DataTable */
#example th {
    background-color: #005590;
}

#example input[type=text] {
    width: 100%;
}

input{
    color: #000000;
}

div.dataTables_wrapper {
    width: 100%;
    margin: 0 auto;
}

/* Button Pagination */
.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover {
    background-color: #666666 !important;
    border-color: #666666 !important;
}

/* Hover Hint Text */

.hint {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted white;*/
}

.hint .hinttext {
    visibility: hidden;
    font-size: 14px;
    width: 200px;
    background-color: #337ab7;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -100px; /*This should be half of the width*/
    opacity: 0;
    transition: opacity 1s;
}
/* Hint arrow */
.hint .hinttext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: #337ab7 transparent transparent transparent;
}

.hint:hover .hinttext {
    visibility: visible;
    opacity: 1;
}

/*Blinking Text*/
.blink_me {
  animation: blinker 3s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}

/*******************************************************************************/
#footer {
    color: #C8C9C7;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4%;
    padding: 5px;
    position: fixed;
    text-align: center;
    background-color: #003A70;
    border-top: 2px solid #DAAA00;
    z-index: 2000; /*Places footer on top of sidebar*/
}