/*Light Purple: #ce86ff
 *Purple: #9e0eff
 *Dark Purple: #2c0049
 *Alt Dark Purple: #430070
 */


.navbar-inverse {
    background-color: #FFF;
    border-bottom: 2px solid #000000;
}
.navbar-inverse .navbar-brand {
    color: #000000;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #ce86ff;
}
.top-nav>li>a {
    color: #430070;
}
.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #ce86ff;
}
/*Sidebar tab titles*/
.side-nav>li>a {
    color: #C8C9C7 !important;
}
.side-nav li a:hover,
.side-nav li a:focus {
    background-color: #2c0049 !important;
    outline: 1px solid #210138;
}
/* Expanded sidenav links */
.side-nav>li>ul>li>a {
    background-color: #2c0049;
}
.side-nav>li>ul>li>a:hover {
    color: #ce86ff;
    background-color: #2c0049 !important;
}
.side-nav {
    border-right: 2px solid #000000;
    background-color: #430070;
}
#footer {
    border-top: 2px solid #000000;
    background-color: #430070;
}
a {
    color: #9e0eff;
}
a:hover,a:focus {
    color: #ce86ff;
}