/*  To be used with vue_app.html => VueJS Tutorial
    Created on : Nov 8, 2017, 10:13:43 AM
    Author     : stral
*/

.btn-aubergine {
    color: #D6C9D1;
    background-color: #5A2648;
    border-color: #5A2648
}
.btn-aubergine:hover {
    color: #AD93A4;
    background-color: #431C36;
    border-color: #2D1324
}
.btn-aubergine.focus,
.btn-aubergine:focus {
    box-shadow: 0 0 0 .2rem rgba(90, 38, 72, .5)
}
.btn-aubergine.disabled,
.btn-aubergine:disabled {
    background-color: #007bff;
    border-color: #007bff
}
.btn-aubergine:not([disabled]):not(.disabled).active,
.btn-aubergine:not([disabled]):not(.disabled):active,
.show>.btn-aubergine.dropdown-toggle {
    color: #fff;
    background-color: #431C36;
    border-color: #431C36;
    box-shadow: 0 0 0 .2rem rgba(90, 38, 72, .5)
}

body {
    background-color: #FFFFFF;
    background-image: url("../images/road.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    font: 18px Calibri;
    color: #1D2731;
    /*padding: 0px 15px;
    margin: 0;
    margin-bottom: 3%;*/
}

body > .container-fluid {
    padding-top: 10px;
}
/*Top navbar colors*/
.navbar-inverse {
    background-color: #5A2648;
    border: none;
}
/*Navbar Brand Text Color*/
.navbar-inverse .navbar-brand {
    color: #D6C9D1;
}

hr {
    height: 2px;
    background-color: #5A2648;
    color: #5A2648;
    border: 0 none;
}

.div-block {
    background-color: #FFFFFF;
    padding: 15px 15px 30px;
    position: relative;
    width: 60%;
    margin: 5% auto;
}

#canvas {
    width: 300px;
    padding: 100px 20px;
    text-align: center;
    border: 1px solid #333;
    margin: 5% auto;
}

/* DataTable wrapper */
#example_wrapper {
    background-color: #fff;
    padding: 0px 0px 50px;
    margin-top: -1%;
}

/**DataTable DOM elements**/
#example_info,#example_length {
    padding: 10px;
}
#example_paginate {
    padding: 0px 10px;
}

#footer {
    left: 0;
    bottom: 0;
    height: 4%;
    width: 100%;
    padding: 5px;
    z-index: 2000;
    color: #C8C9C7;
    position: fixed;
    text-align: center;
    background-color: #5A2648;
}