html {
    position: relative;
    min-height: 100%;
}
body {
    /*Increased top margin so navbar 
    isn't too close to Available Loads title*/
    margin-top: 3%;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
@media(max-width:1393px) {
    body {
        margin-top: 8%;
    }
}
@media(max-width:763px) {
    body {
        margin-top: 9%;
    }
}
@media(max-width:560px) {
    body {
        margin-top: 10%;
    }
}
@media(max-width:414px) {
    body {
        margin-top: 15%;
        text-align: center;
    }
}
@media(max-width:320px) {
    body {
        margin-top: 20%;
        text-align: center;
    }
}
/*Top Navbar
*Increased height to allow for larger logo
*/
.navbar-nav > li > a {
    padding-top:15px !important; 
    padding-bottom:15px !important;
}
.navbar {
    min-height:5% !important
}
/*Swift Logo in Navbar*/
#logo {
    display: inline;
    padding: 0;
}
.navbar-brand>img {
    float: left;
    width: 8%;/*Any smaller causes it to pixelate*/
    height: auto;
    margin: 5px;
}
.top-nav>li {
    display: inline-block;
    float: left;
}
.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #FFF;
}
.navbar {
    min-height:60px !important;
}

th {
    background-color: #005590;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #005590;
    color: #000000;
    padding-top: 20px;
}
input{
    color: #000000;
}
#example input[type=text] {
    width: 100%;
} 
.text-muted{
    color: #ffffff;
}
.navbar-inverse {
    background-color: #005590;
    border-color: #005590;
}
.navbar-inverse .navbar-brand {
    color: #ecf0f1;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #bbe1ff;
}
.navbar-inverse .navbar-text {
    color: #ecf0f1;
}
.navbar-inverse .navbar-nav > li > a {
    color: #ecf0f1;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #bbe1ff;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #bbe1ff;
    background-color: #1326b4;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #bbe1ff;
    background-color: #1326b4;
}
.navbar-inverse .navbar-toggle {
    border-color: #1326b4;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #1326b4;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: #ecf0f1;
}
.navbar-inverse .navbar-link {
    color: #ecf0f1;
}
.navbar-inverse .navbar-link:hover {
    color: #bbe1ff;
}

@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #bbe1ff;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #bbe1ff;
        background-color: #1326b4;
    }
}