<!DOCTYPE html>
<html>
    <head>
        <title>VueJS Tutorial</title>
        <meta charset="UTF-8">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link href="css/vue-style.css" rel="stylesheet"/>
        <script src="https://use.fontawesome.com/d441f54e4c.js"></script>
        <script src="https://unpkg.com/vue"></script>
        <style>
            span {
                background: #5A2648;
                display: inline-block;
                padding: 10px;
                color: #fff;
                margin: 10px 0;
            }
            .available span {
                background: #009933;
            }
            .nearby span:after {
                content:"nearby";
                margin-left: 10px;
            }
            .fa {
                color: #AD93A4;
            }
            #bag {
                width: 200px;
                height: 500px;
                margin: 0 auto;
                background: url(/images/bag.png) center no-repeat;
                background-size: 80%;
            }
            #bag.burst {
                background: url(/images/bag-burst.png) center no-repeat;
                background-size: 80%;
            }
            #bag-health {
                width: 200px;
                border: 2px solid #000;
                margin: 0 auto 20px auto;
            }
            #bag-health div {
                height:20px;
                background: crimson;
            }
            
        </style>
    </head>
    <body>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
            <a class="navbar-brand" href="#">This could be one awesome Co-Branded Website! <i class="fa fa-smile-o"></i></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>

        <div class="container-fluid">
            
            <div id="vue-app-ref" class="div-block text-center">
                <h2>Refs</h2>
                <hr/>
                <input type="text" ref="input"/>
                <button v-on:click="readRefs" class="btn btn-aubergine">Submit</button>
                <p>Your favorite food: {{ output }}</p>
                <div ref="test">Hello</div>
            </div>
            
            <div class="div-block text-center">
                <h2>Components</h2>
                <hr/>
                <div id="vue-app-one">
                    <h3>Vue app one</h3>
                    <greeting></greeting>
                </div>
                <div id="vue-app-two">
                    <h3>Vue app two</h3>
                    <greeting></greeting>
                </div>
            </div>
            
            <!--<div id="vue-app" class="div-block text-center">
                
                <h2>Multiple Vue Instances</h2>
                <hr/>
                <div id="vue-app-one">
                    <h3>{{ title }}</h3>
                    <p>{{ greet }}</p>
                </div>
                
                <div id="vue-app-two">
                    <h3>{{ title }}</h3>
                    <p>{{ greet }}</p>
                    <button v-on:click="{{ changeTitle() }}" class="btn btn-aubergine">Change App One Title</button>
                </div>
            
                <h2>Simple Punching Bag Game</h2>
                <div id="bag" v-bind:class="{ burst: ended}"></div>
                
                <div id="bag-health">
                    <div v-bind:style="{ width: health + '%'}"></div>
                </div>
                
                <div id="controls">
                    <button v-on:click="punch" v-show="!ended">Punch</button>
                    <button v-on:click="restart">Restart</button>
                </div>
                <h2>VueJS Tutorial</h2>
                <h3> {{ greet('afternoon') }}</h3>
                <p>Name: {{ name }}</p>
                <p>Job: {{ job }}</p>

                <hr/>
                <h3>Data Binding</h3>
                <a v-bind:href="website">The Net Ninja</a><br>
                <input type="text" :value="name" />
                <p v-html="websiteTag"></p>

                <hr/>
                <h3>Events</h3>
                <button @click.once="add(1)" class="btn btn-success">Add a Year</button>
                <button v-on:click="subtract(1)" class="btn btn-danger">Subtract a Year</button>
                <button @dblclick="add(10)" class="btn btn-primary">Add 10 Years</button>
                <button v-on:dblclick="subtract(10)" class="btn btn-warning">Subtract 10 Years</button>
                <p>My age is {{ age }}</p>
                <br>
                <div v-on:mousemove="updateXY" id="canvas">
                    {{ x }},{{ y }}
                    <a v-on:click.prevent="click" href="http://www.thenetninja.co.uk">The Net Ninja</a>
                </div>
                
                <hr/>
                <h3>Keyboard Events</h3>
                <label>Name:</label>
                <input type="text" v-model="name2"/><br>
                <span>{{ name2 }}</span><br>
                <label>Age:</label>
                <input type="text" v-model="age2"/><br>
                <span>{{ age2 }}</span>
                
                <hr/>
                <h3>Computed Properties</h3>
                <button v-on:click="a++">Add to A</button>
                <button v-on:click="b++">Add to B</button>
                <p>A - {{ a }}</p>
                <p>B - {{ b }}</p>
                <p>Age + A = {{ addToA }}</p>
                <p>Age + B = {{ addToB }}</p>
                   
                <hr/>
                <h3>Dynamic CSS</h3>
                <h4>Example 1</h4>
                <div v-on:click="available = !available" v-bind:class="{available:available}">
                    <span>Spyro</span>
                </div>
                
                <h4>Example 2</h4>
                <button v-on:click="nearby = !nearby" class="btn">Toggle nearby</button>
                <button v-on:click="available = !available"  class="btn">Toggle available</button>
                <div v-bind:class="compClasses">
                    <span>Spyro</span>
                </div>
                
                <hr/>
                <h3>Conditionals</h3>
                <button v-on:click="error = !error" class="btn btn-danger">Toggle Error</button>
                <button v-on:click="success = !success" class="btn btn-success">Toggle Success</button>
                <p v-if="error">Error! Error!</p>
                <p v-else-if="success">Hooray!</p>
                <p v-show="error">Error! Error!</p>
                <p v-show="success">Yahoo!</p>
                
                <hr/>
                <h3>Looping through Lists</h3>
                <div class="text-left">
                    <ul>
                        <li v-for="character in characters">{{ character }}</li>
                    </ul>
                    <ul>
                        <li v-for="(healer, index) in healers">{{ index }}. {{ healer.name }} - {{ healer.age }}</li>
                    </ul>
                    <template v-for="(healer, index) in healers">
                        <h4>{{ index }}. {{ healer.name }}</h4>
                        <p>{{ healer.age }}</p>
                    </template>
                    <template v-for="healer in healers">
                        <div v-for="(val,key) in healer">
                            <p>{{ key }} - {{ val }}</p>
                        </div>
                    </template>
                </div>
            </div>-->
            
            <footer id="footer">
                <p><i class="fa fa-copyright"></i> Swift|Knight Logistics &nbsp;<i class="fa fa-phone"></i> 800-477-8025</p>
            </footer>
        </div>
        <script src="js/vue_app.js"></script>
    </body>
    <!--Photo by Sébastien Marchand on Unsplash-->
</html>
<!--Lookup npm strict ssl-false-->