/*
    Created on : Feb 1, 2017, 10:48:02 AM
    Author     : stral
    CSS Color Palette:
    -LIGHT-----Antique White: #FAEBD7
    -MEDIUM---------Sky Blue: #328CC1
    -BOLD----------Gold Leaf: #D9B310
    -DARK------Prussian Blue: #0B3C5D
    -DARK--------Ivory Black: #1D2731
*/

body {
    background-color: #FFFFFF;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font: 22px Calibri;
    color: #1D2731;
    padding: 0;
    margin: 0;
    margin-bottom: 3%;;
}
/*Spacer div to break up page with whitespace as needed*/
.spacer {
    padding: 10px;
    margin: 0 20px;
}
.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}
/*Pop up message/status bar above navbar*/
#message {
    background-color: #1D2731;
    border-bottom: 1px solid #328CC1;
    color: #328CC1;
}
#message a {
    color: #FFF;
    text-decoration: none;
}
#message a:hover {
    color: #FFF;
    text-decoration: none;
}
/*General navbar properties*/
.navbar {
    color: #D9B310;
    margin-bottom: 20px;
    border-bottom: 1px solid #D9B310;
}
/*Begin navbar brand*/
/*Logistics Optimized Rate Lookup font color*/
.navbar-inverse .navbar-brand {
    color: #D9B310;
}
.navbar-inverse .navbar-brand:hover {
    color: #D9B310;
    text-decoration: none;
}
.navbar-brand {
    font-size: 22px;
    line-height: 50px;
}
#logo {
    display: inline;
    padding: 0;
}
.navbar-brand>img {
    float: left;
    width: 10%;
    height: auto;
    margin: 5px;
}
/*End navbar brand*/
/*.nav li {
    padding: 10px 10px;
}*/
.btn-info {
    background-color: #328CC1;
}
.container-fluid {
    background-color: #1D2731;

}
/*Stats Div*/
#stats {
    display: none;
}
/*Easter egg*/
#egg {
    display: none;
    color: #FF0033;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 15%;
    padding-bottom: 10px;
}
#caption {
    display: none;
}
#egg>img {
    display: none;
    width: 30%;
    height: auto;
    margin: 5px;
    padding: 5px;
}
/*Container for Form*/
.container {
    background-color: #FFF;
    border: 1px solid #E5E5E5;
    text-align: center;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-shadow: 1px 1px 29px 5px rgba(229,229,229,1);
    -moz-box-shadow: 1px 1px 29px 5px rgba(229,229,229,1);
    box-shadow: 1px 1px 29px 5px rgba(229,229,229,1);
}
/*.row.clearfix.center {
    border: 2px solid red;
}*/
.lb-size {
    font-size: 24px;
}
@media (min-width: 300px) {
    .container {
        width: 285px;
    }
    .lb-size {
        font-size: 16px;
    } 
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
    .lb-size {
        font-size: 18px;
    } 
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
    .lb-size {
        font-size: 20px;
    } 
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
    .lb-size {
        font-size: 24px;
    } 
}
.form-control-inline {
    max-width: 200px;
    min-width: 150px;
    display: inline;
}
/*.control-label {
    border: 2px solid yellow;
}*/
/*.col-xs-4 {
    border: 2px solid green;
}*/
.footer {
    color: #FFFFFF;
    font-size: 65%;
    bottom: 0;
    width: 100%;
    height: 3%;
    padding-top: 3px;
    position: fixed;
    background-color: #1D2731;
}