/*
    Created on : March 21, 2017, 1:36 PM
    Author     : stral
    CSS Color Palette:
    -LIGHT-----Stark: #E7DFDD
    -BOLD------Jewel: #4717F6
    -BOLD------Fuschia: #A239CA
    -BOLD------Infrared: #FF0033
    -DARK------Void: #0E0B16
*/

body {
    /*background-color: #0E0B16;*/
    background-image: url("../images/purple_galaxy.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font: 22px Calibri;
    color: #FF0033;
    padding: 0;
    margin: 0;
    margin-bottom: 3%;;
}
/*Spacer div to break up page with whitespace as needed*/
.spacer {
    padding: 10px;
    margin: 0 20px;
}
.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}
/*Pop up message/status bar above navbar*/
#message {
    background-color: #0E0B16;
    border-bottom: 3px solid #4717F6;
    color: #4717F6;
    padding: 10px;
}
#message a {
    color: #FFF;
    text-decoration: none;
}
#message a:hover {
    color: #FFF;
    text-decoration: none;
}
/*General navbar properties*/
.navbar {
    color: #A239CA;
    background-color: #0E0B16;
    margin-bottom: 30px;
    border-bottom: 3px solid #A239CA;
}
/*Begin navbar brand*/
/*Logistics Optimized Rate Lookup font color*/
.navbar-inverse .navbar-brand {
    color: #A239CA;
}
.navbar-inverse .navbar-brand:hover {
    color: #A239CA;
    text-decoration: none;
}
.navbar-brand {
    font-size: 22px;
    line-height: 50px;
}
#logo {
    display: inline;
    padding: 0;
}
.navbar-brand>img {
    float: left;
    width: 10%;
    height: auto;
    margin: 5px;
}
/*E-Mail Support button*/
.btn-info {
    background-color: #4717F6;
    border: none;
}
.btn-info:hover {
    background-color: #7450F8;
}
/*Swap Cities button*/
.btn-primary {
    background-color: #A239CA;
    border: none;
}
.btn-primary:hover {
    background-color: #B867D6;
}
/*Get Quote button*/
.btn-success {
    background-color: #57F617;
    color: #000000;
    border: none;
}
.btn-success:hover {
    background-color: #80f850;
}
/*Reset button*/
.btn-warning {
    background-color: #FF0033;
    border: none;
}
.btn-warning:hover {
    background-color: #FF4E72
}
.container-fluid {
    background-color: #0E0B16;
}
/*Stats Div*/
#stats {
    display: none;
}
/*Easter egg*/
#egg {
    display: none;
    color: #FF0033;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 15%;
    padding-bottom: 10px;
}
#caption {
    display: none;
}
#egg>img {
    display: none;
    width: 30%;
    height: auto;
    margin: 5px;
    padding: 5px;
}
/*Container for Form*/
.container {
    color: #A239CA;
    background-color: #FFF;
    border: 2px solid #A239CA;
    text-align: center;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-shadow: 1px 1px 15px 8px rgba(161,57,202,1);
    -moz-box-shadow: 1px 1px 15px 8px rgba(161,57,202,1);
    box-shadow: 1px 1px 15px 8px rgba(161,57,202,1);
}
.lb-size {
    font-size: 24px;
}
@media (min-width: 300px) {
    .container {
        width: 285px;
    }
    .lb-size {
        font-size: 16px;
    } 
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
    .lb-size {
        font-size: 18px;
    } 
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
    .lb-size {
        font-size: 20px;
    } 
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
    .lb-size {
        font-size: 24px;
    } 
}
.form-control-inline {
    max-width: 200px;
    min-width: 150px;
    display: inline;
}
.footer {
    color: #4717F6;
    font-size: 65%;
    bottom: 0;
    width: 100%;
    height: 3%;
    padding-top: 3px;
    position: fixed;
    border-top: 3px solid #4717F6;
    background-color: #0E0B16;
}
