<template>
  <footer>
      <p v-html="copyright"></p>
      <!--<p>{{ copyright }} {{ title }}</p>-->
  </footer>
</template>

<script>
import { bus } from '../main';

export default {
  props: {
    title: {
      type: String
    }
  },
  data() {
    return {
      copyright: "<i class='fa fa-code'></i> Allison's Sandbox"
      //copyright: '(c) 2017'
    }
  },
  created() {
    bus.$on('titleChanged',(data) => {
      this.title = data;
    })
  }
}
</script>

<style scoped>
  footer {
    left: 0;
    bottom: 0;
    height: 4%;
    width: 100%;
    padding: 5px;
    z-index: 2000;
    color: #C8C9C7;
    position: fixed;
    text-align: center;
    background-color: #5A2648;
  }
</style>
