<template>
  <div class="div-block text-center">
    <slot name="title"></slot>
    <h1>I am the form helper</h1>
    <slot name="text"></slot>
  </div>
</template>

<script>


export default {
  components: {

  },
  data() {
    return {

    }
  },
  methods: {

  }
}
</script>

<style scoped>
h1{
  color: #263C59;
}
</style>
