<template>
  <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <a class="navbar-brand" href="#">{{ title }} <i class="fa fa-bolt"></i></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <button v-on:click="isActive = !isActive" class="navbar-toggler pull-xs-right" id="navbarSideButton" type="button">&#9776;</button>
      <!-- navbar-side will go here -->
      <ul v-bind:class="{ reveal:isActive }" class="navbar-side" id="navbarSide">
        <li class="navbar-side-item">
          <a href="#" class="side-link"><i class="fa fa-fw fa-wrench"></i> Tools</a>
        </li>
        <li class="navbar-side-item">
          <a href="#" class="side-link"><i class="fa fa-fw fa-table"></i> Reports</a>
        </li>
        <li class="navbar-side-item">
          <a href="#" class="side-link"><i class="fa fa-fw fa-dollar"></i> Pricing</a>
        </li>
        <li class="navbar-side-item">
          <a href="#" class="side-link"><i class="fa fa-fw fa-rebel"></i> Jedi</a>
        </li>
        <li class="navbar-side-item">
          <a href="#" class="side-link"><i class="fa fa-fw fa-link"></i> Page Link</a>
        </li>
        <li class="navbar-side-item">
          <a href="#" class="side-link"><i class="fa fa-fw fa-link"></i> Page Link</a>
        </li>
        <li class="navbar-side-item">
          <a href="#" class="side-link"><i class="fa fa-fw fa-link"></i> Page Link</a>
        </li>
        <li class="navbar-side-item">
          <a href="#" class="side-link"><i class="fa fa-fw fa-link"></i> Page Link</a>
        </li>
        <li class="navbar-side-item">
          <a href="#" class="side-link"><i class="fa fa-fw fa-link"></i> Page Link</a>
        </li>
        <li class="navbar-side-item">
          <a href="#" class="side-link"><i class="fa fa-fw fa-link"></i> Page Link</a>
        </li>
        <li class="navbar-side-item">
          <a href="#" class="side-link"><i class="fa fa-fw fa-link"></i> Page Link</a>
        </li>
        <li class="navbar-side-item">
          <a href="#" class="side-link"><i class="fa fa-fw fa-link"></i> Page Link</a>
        </li>
      </ul>
      <div v-show="isActive" v-on:click="isActive = !isActive" class="overlay"></div>
  </nav>
</template>

<script>
export default {
  data() {
    return {
      title: "Allison's Sandbox",
      isActive: false
    }
  }
}
</script>

<style scoped>
a {
  color: #D6C9D1;
}
a:hover,a:focus {
  color: #AD93A4;
  text-decoration: none;
}
/*Top navbar*/
.navbar-inverse {
  background-color: #5A2648;
  border: none;
  height: 50px;
}
.navbar-inverse .navbar-brand {
  color: #D6C9D1;
}
/*side navbar*/
#navbarSideButton {
  color: #D6C9D1;
}
.navbar-side {
  height: 100%;
  width: 25%;
  position: fixed;
  top: 50px;
  right: 0;
  padding: 0;
  list-style: none;
  border-left: 2px solid #AD93A4;
  background-color: #431C36;
  overflow: scroll;
  z-index: 1000;
  /*open menu animation*/
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) { .navbar-side { width: 90% } }

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767px) { .navbar-side { width: 85% } }

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991px) { .navbar-side { width: 50% } }

.navbar-side-item {
  padding: 1.5rem 0;
  margin: 0;
  border-bottom: 2px solid #AD93A4;
  height: 5rem;
}
.navbar-side-item:hover,.navbar-side-item:focus {
  background-color: #5A2648;
}
.side-link {
  padding-left: 2rem;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: #ccc;
  opacity: 0.6;
  z-index: 990;
}
/*Add class when navbar button is clicked to show the menu*/
.reveal {
 -webkit-transform: translateX(0%);
 -ms-transform: translateX(0%);
 transform: translateX(0%);
 -webkit-transition: 300ms ease;
 transition: 300ms ease;
}
</style>
