<template>
  <div>
    <navbar-top></navbar-top>
    <!--<app-header v-bind:title="title" v-on:ChangeTitle="updateTitle($event)"></app-header>-->
    <form-helper>
      <h2 slot="title">{{ title }}</h2>
      <p slot="text">
        I am the paragraph text for the slot.
      </p>
    </form-helper>
    <<app-heroes v-bind:heroes="heroes"></app-heroes>

    <app-footer v-bind:title="title"></app-footer>
  </div>
</template>

<script>
/* Imports html from components to be used locally */
import Navbar from './components/navbar-top.vue';
import Header from './components/Header.vue';
import Heroes from './components/overwatch.vue';
import Footer from './components/footer.vue';
import formHelper from './components/formHelper.vue';
export default {
  /* Register components here to create custom html tags to use above */
  components: {
    'navbar-top': Navbar,
    'app-header': Header,
    'app-heroes': Heroes,
    'app-footer': Footer,
    'form-helper': formHelper
  },
  data () {
    return {
      heroes: [
        {name:'Soldier 76',ultimate:'Tactical Visor',show:false},
        {name:'Widowmaker',ultimate:'Infra-Sight',show:false},
        {name:'Sombra',ultimate:'EMP',show:false},
        {name:'Mercy',ultimate:'Valkyrie',show:false},
        {name:'Ana',ultimate:'Nano Boost',show:false},
        {name:'Zarya',ultimate:'Graviton Surge',show:false}
      ],
      title: "Dynamic Slot Title"
    }
  },
  methods: {
    /*updateTitle: function(updatedTitle) {
      this.title = updatedTitle
    }*/
  }
}
</script>

//Scoped style tags only apply to this component
<style scoped>
  h1,h2 {
    color: #431C36;
  }
</style>

<style>
  /* Created new button to match color scheme */
  .btn-aubergine {
    color: #D6C9D1;
    background-color: #5A2648;
    border-color: #5A2648
  }
  .btn-aubergine:hover {
    color: #AD93A4;
    background-color: #431C36;
    border-color: #2D1324
  }
  .btn-aubergine.focus,
  .btn-aubergine:focus {
    box-shadow: 0 0 0 .2rem rgba(90, 38, 72, .5)
  }
  .btn-aubergine.disabled,
  .btn-aubergine:disabled {
    background-color: #007bff;
    border-color: #007bff
  }
  .btn-aubergine:not([disabled]):not(.disabled).active,
  .btn-aubergine:not([disabled]):not(.disabled):active,
  .show>.btn-aubergine.dropdown-toggle {
    color: #fff;
    background-color: #431C36;
    border-color: #431C36;
    box-shadow: 0 0 0 .2rem rgba(90, 38, 72, .5)
  }
/***********************************************************/
  body {
    background-color: #FFFFFF;
    background-image: url("assets/road.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    font: 18px Calibri;
    color: #1D2731;
    padding-top: 65px;
  }
  ::-webkit-scrollbar {
      width: 0px;  /* remove scrollbar space */
      background: transparent;  /* optional: just make scrollbar invisible */
  }
  body > .container-fluid {
    padding-top: 10px;
    overflow: scroll;
  }

  hr {
    height: 2px;
    background-color: #5A2648;
    color: #5A2648;
    border: 0 none;
  }

  .div-block {
    background-color: #FFFFFF;
    padding: 15px 15px 30px;
    position: relative;
    width: 60%;
    margin: 0 auto;
  }

  #canvas {
    width: 300px;
    padding: 100px 20px;
    text-align: center;
    border: 1px solid #333;
    margin: 5% auto;
  }
</style>
